@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "../../public/fontawesome/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "app/"; */
@import "app/styles/navigation.scss";

@layer components {
    /* @import "navigation.scss"; */
    html,
    body {
      /* padding: 0; */
      /* margin: 0; */
      /* overflow: overlay; */
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
            Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Poppins;
    }

    input:-webkit-autofill:hover,
    input:-webkit-autofill,
    input:-webkit-autofill:focus,
    input:-webkit-autofill::first-line,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
    /* input[data-autocompleted] {
        background-color: transparent !important;
    } */
    input {
        /* background: transparent!important; */
        /* @apply !bg-gray-300 !text-gray-900 placeholder:text-gray-600 font-medium; */
    }
}
